#logos {
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}

#logos .container {
    margin: 0 auto;
}

#logos .container .logo-slider .slick-track {
    display: flex;
    justify-content: space-between;
}
@media(max-width: 430px){
    #logos {
        width: 430px;
        margin: 50px 0;
        overflow: hidden;
    }
    }