.burgericon{
    display: none;
}
.burger{
    display: none;
}
.socialmenu{
    display: none;
}
@media(max-width: 425px){
    nav ul{
        position: absolute;
        top: 88px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: left;
        background: #080808;
        overflow: hidden;
        height: 400px;
        z-index: 1;
        border-bottom: 1px solid #048C80;
        
    }
    nav ul li{
        padding: 10px;
        border-bottom: 1px solid #048C80;
        max-width: 40%;
       


    }
    nav ul li:last-child{
        border-bottom: none;
    }
    .socialmenu{
        display: block;
        margin-top: 150px;
        
    }
    .burgericon{
        display: block;
        font-size: 40px;
        font-weight: 100;
    }
     #menuList{
        transition: all 0.8s;
     }

}