#pricing .container{
    text-align: center;
    max-width: 800px; 
    margin: auto; 
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
#pricing .container h1 span {
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    background: linear-gradient(234.07deg, #AAD9D1 0%, #017373 125.68%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66ded8;
}

input:checked + .slider:before {
    transform: translateX(24px);
    transition: all 0.8s;
}

.discount {
    background-color: #66ded8;
    color: #1b1b1b;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 0.8em;
    margin-left: 5px;
}
.pricing-plans {  
    display: flex; /* Використовуємо флекс для колонок */  
    justify-content: space-between; /* Проміжки між колонками */  
    gap: 32px; /* Проміжок між колонками */  
}  

.pricing-container {
    display: flex;
    gap: 32px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    margin: 0;
}
.plan {
    width: 357.33px;
    height: 416.85px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.individual-plan {
    background-color: #f0f9f7;
    color: #333;
    border: 2px solid #048C80;
}

.team-plan {
    background-color: #121212;
    color: #fff;
    border: 2px solid #048C80;
}

.enterprise-plan {
    background-color: #f0f9f7;
    color: #333;
    border: 2px solid #048C80;
}

.plan h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.plan h2 {
    font-size: 2em;
    margin: 0;
    font-family: "Dm sans";
}

.plan h2 span {
    font-size: 0.5em;
    color: #777;
}

.plan ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    line-height: 1.5;
}

.plan li {
    font-size: 0.9em;
    text-align: left;
}

button {
    width: 293.33px;
    height: 59px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.individual-plan button {
    color: #333;
}

.team-plan button {
    background-color:  #121212;
    color: #fff;
}

.enterprise-plan button {
    color: #333;
}

.plan p {
    font-size: 0.8em;
    color: #777;
    margin-top: 10px;
}

@media(max-width: 1024px){
    #pricing .container{
        display: flex; 
        flex-direction: column;
        gap: 30px;
        max-width: 1024px;
    }

    .pricing-container { 
        display: flex;
        gap: 10px;
        max-width: 1024px;
        margin-top: -50px;
    }
     
    .container{
        max-width: 100%;
    }
    .right-block img{
        display: none;
    }
    .container img{
        display: none;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }
    #pricing .container h1 span {
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        background: linear-gradient(234.07deg, #AAD9D1 0%, #017373 125.68%);
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    #pricing .container .sub-title{
        font-size: 16px;
        color:#BABABA;
        margin-top:-20px;
    }
    #pricing .container .toggle-container{
        font-size: 14px;
    }
    .enterprise-plan{
        height: 380px;
        width: 323px;
        border: 2px solid #048C80;
    }
    .individual-plan{
        height: 380px;
        width: 323px;
        border: 2px solid #048C80;
    }
    .team-plan{
        height: 380px;
        width: 323px;
        border: 2px solid #048C80;
    }
    }

    @media(max-width: 768px){
        #pricing .container{
            display: flex; 
            flex-direction: column;
            gap: 30px;
            max-width: 768px;
        }
    
        .pricing-container { 
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 768px;
            margin-top: 0px;
        }
         
        .container{
            max-width: 100%;
        }
        .right-block img{
            display: none;
        }
        .container img{
            display: none;
        }
        h1 {
            font-size: 48px;
            margin-bottom: 10px;
        }
        #pricing .container h1 span {
            font-family: DM Sans;
            font-size: 48px;
            font-weight: 700;
            line-height: 57.6px;
            background: linear-gradient(234.07deg, #AAD9D1 0%, #017373 125.68%);
            background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
        #pricing .container .sub-title{
            font-size: 16px;
            color:#BABABA;
            margin-top:-20px;
        }
        #pricing .container .toggle-container{
            font-size: 14px;
        }
        .enterprise-plan{
            height: 380px;
            width: 323px;
            border: 2px solid #048C80;
        }
        .individual-plan{
            height: 380px;
            width: 323px;
            border: 2px solid #048C80;
        }
        .team-plan{
            height: 380px;
            width: 323px;
            border: 2px solid #048C80;
        }
        }

@media(max-width: 425px){
    #pricing .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 420px;
        margin-top: 40px;
    }

    .pricing-container { 
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 420px;
        margin: 0;
    }
     
    .container{
        max-width: 100%;
    }
    .right-block img{
     display: none;
    }
    .container img{
        display: none;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #pricing .container h1 span {
        font-family: DM Sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 57.6px;
        background: linear-gradient(234.07deg, #AAD9D1 0%, #017373 125.68%);
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    #pricing .container .sub-title{
        font-size: 14px;
        color:#BABABA;
        margin-top:-20px;
    }
    #pricing .container .toggle-container{
        font-size: 14px;
    }
    .enterprise-plan{
        height: 380px;
    }
    .individual-plan{
        height: 380px;
    }
    .team-plan{
        height: 380px;
    }
    }
   
